.rodape {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    font-size: 0.7;
}

.rodape_logo {
    width: 11.25em;
    margin-bottom: center;
}

.rodape_lista-medias-sociais {
    display: flex;
    justify-content: center;
}

.rodape_infos-empresa {
    line-height: 1.5;
}

.rodape_lista-midias-sociais {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.rodape_item-midias-sociais {
    width: 2.62em;
    margin: 011.25em;
}

.rodape_item-medias-sociais img {
    width: 100%;
}

.rodape_titulo {
    margin-bottom: 1em;
    font-size: 1.45em;
    font-weight: bold;
    text-transform: uppercase;
}

.rodape_item-lista {
    font-size: 500;
    margin: 0.625em 0;
}

@media(max-width:640px) {
    .rodape_secao .rodape_secao {
        margin-top: 2em;
    }
}

@media(min-width:640px) and (max-width: 1200px) {
    .rodape {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1rem;
    }
    .rodape_secao--sobre,
    .rodape_secao--cursos,
    .rodape_secao--links,
    .rodape_secao--newsletter {
        width: 45%;
    }
    .rodape_secao--cursos {
        order: 1;
        margin: 0;
    }
    .rodape_secao--links {
        order: 2;
        margin: 0;
    }
    .rodape_secao--sobre {
        order: 3;
        margin-top: 2em;
    }
    .rodape_secao--newsletter {
        order: 4;
        margin-top: 2em;
    }
}

@media(min-width: 1200px) {
    .rodape {
        display: flex;
        justify-content: space-between;
        font-size: 0.85rem;
        text-align: left;
    }
    .rodape_titulo {
        font-size: 1em;
    }
    .rodape_lista-midias-sociais {
        justify-content: left;
    }
    .rodape_secao {
        margin-top: 0;
    }
    .rodape_secao .rodape_secao {
        margin-left: 2em;
    }
}